@import "tailwindcss";

@source "../views";
@source "../js";
@source "../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views";
@source "../../app";

@theme {
  --color-primary: #2563EB;
  --color-zinc-850: #121214;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  --font-outfit: "Outfit", sans-serif;
}
